extends ../layout

block content
  center
    h2=`${video.title}`
  small=video.summary
  p
  if video.fileUrl
    .flex-container2
      span=video.tags.join(", ")
      span=`✨ ${video.hits} hits`
    video(src=`/${video.fileUrl.replace("files", "upload")}` width='100%' controls)
  if loggedIn
    if String(video.owner._id) === String(loggedInUser._id)
      p
      .flex-container3
        include ../partials/mutation