extends ../layout

block content
  center
    h2=`${video.title}`
  br
  if video.fileUrl
    .flex-container2
      small.video__owner By 
        a(href=`/users/${video.owner._id}`)=video.owner.username
      if loggedInUser && String(video.owner._id) === String(loggedInUser._id)
        .flex-container3
          include ../partials/mutation
      else
        small #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}
    div#videoContainer(data-id=video._id, style="color: #fff;")
      video(src=`${video.fileUrl.startsWith("http") ? video.fileUrl : '/' + video.fileUrl.replace("files", "upload")}`)
      div#videoControls.videoControls
        div.videoControls__play
          span#play.videoControls__playBtn
            i.fas.fa-play
          div.videoControls__time
            span#currenTime 00:00
            span / 
            span#totalTime 00:00
        input(type="range" step="1" value="0" min="0")#timeline.videoControls__timeline
        div.videoControls__volume
          input(type="range" step="0.1" value=0.5 min="0" max="1")#volume
          span#mute
            i.fas.fa-volume-up
        div
          span#fullScreen
            i.fas.fa-expand
    .flex-container2
      span=video.tags.join(", ")
      span=`✨ ${video.hits} hits`
    small=video.summary
    if video.comments.length > 0
      hr.seperator
    .video__comments
      each comment in video.comments.reverse()
        div.video__comment(data-id=comment._id)
          span
            i.fas.fa-comment
            span  #{comment.content}
          if loggedInUser && String(video.owner._id) === String(loggedInUser._id)
            span.video__comment_remove ❌
    if loggedIn
      form#commentForm.video__comment_add
        textarea(cols="30" rows="5" minLength="20" placeholder="Write a nice commment...")
        button ADD

block scripts
  script(src="/static/js/player.js")
  if loggedIn
    script(src="/static/js/comment.js")