extends ../layout

block content
  center
    h2=pageTitle
  p.info 💫 Please edit your profile information if necessary.
  form(method="POST" enctype="multipart/form-data")
    .flex-container
      .item3
        label(for="loginid") Email Address
        input(type="email" name="email" placeholder="Email" required value=loggedInUser.email)
      .item3
        label(for="loginid") Username (Login ID)
        input(type="text" id="loginid" name="username" placeholder="Username" disabled value=loggedInUser.username)
    .flex-container
      .item3
        label(for="nickname") Nickname
        input(type="text" id="nickname" name="nickname" placeholder="Nickname" value=loggedInUser.nickname)
      .item3
        label(for="location") Location
        input(type="text" id="location" name="location" placeholder="Location" value=loggedInUser.location)
    label(for="avatar") Avatar File
    input(type="file" id="avatar" name="avatar" accept="image/*")
    if loggedInUser.avatarUrl
      if String(loggedInUser.avatarUrl).startsWith("http")
        img(src=`${loggedInUser.avatarUrl}` width='30%' alt=`${loggedInUser.username}'s Avatar`)
      else
        img(src=`/${loggedInUser.avatarUrl.replace("files", "upload")}` width='30%' alt=`${loggedInUser.username}'s Avatar`)
    center
      input(type="submit" value="MODIFY")
  if errorMessage
    p.warning=errorMessage
  if !loggedInUser.socialOnly
    div
      span 😊 Want to change your password? &nbsp;
      a(href="/users/change-pw") Change Password &rarr;